.bg-blue{
    background-color: blue;
}
.bg-green{
    background-color: green;
}
.bg-red{
    background-color: red;
}
.container{
    display: flex;
    height: 360px;
}
img{
    width: 120px;
    height: 120px;
}